<div class="jumbotron" style="text-align:center; margin-top: 100px;margin-bottom: 100px; height: 600px; background-color: rgba(0, 0, 0, 0.91); color: #920a0a">
    <h1> Thank you for placing your order!</h1>
    <hr />
    <p style="margin-top: 100px;">At this time we cannot display what you ordered, or a price. We apologize for the inconvenience that this may cause you. It also 
    worth noting that we are a ficticous pizza company and cannot be liable for orders that are not placed in this menu. We apologize for that as well.
    <br />Thank You,<br />Management</p>
    <bs-btn class="btn-danger btn-lg" style="margin-top: 100px;">@Html.ActionLink("Return to the Home Screen", "Index", "Home")</bs-btn>
</div>